
<div th:fragment="meta-info">

    <!-- Meta Data-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->

    <link th:href="@{/dist/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/dist/css/styles.css}" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link th:href="@{/dist/css/fontawesome/css/all.css}" rel="stylesheet">
    <link th:href="@{/dist/css/fontawesome/css/fontawesome.min.css}" rel="stylesheet">
  </div>
